/* custom font definition*/
@font-face {
  font-family: 'Museo Sans 100';
  src: url('../fonts/museosans_100_macroman/MuseoSans_100-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans_100_macroman/MuseoSans_100-webfont.woff') format('woff'),
  url('../fonts/museosans_100_macroman/MuseoSans_100-webfont.ttf')  format('truetype'),
  url('../fonts/museosans_100_macroman/MuseoSans_100-webfont.otf')  format('opentype'),
  url('../fonts/museosans_100_macroman/MuseoSans_100-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Museo Sans 100 Italic';
  src: url('../fonts/museosans_100italic_macroman/MuseoSans-100_Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans_100italic_macroman/MuseoSans-100_Italic-webfont.woff') format('woff'),
  url('../fonts/museosans_100italic_macroman/MuseoSans-100_Italic-webfont.ttf')  format('truetype'),
  url('../fonts/museosans_100italic_macroman/MuseoSans-100_Italic-webfont.otf')  format('opentype'),
  url('../fonts/museosans_100italic_macroman/MuseoSans-100_Italic-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Museo Sans 300';
  src:  url('../fonts/museosans_300_macroman/MuseoSans_300-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans_300_macroman/MuseoSans_300-webfont.woff') format('woff'),
  url('../fonts/museosans_300_macroman/MuseoSans_300-webfont.ttf')  format('truetype'),
  url('../fonts/museosans_300_macroman/MuseoSans_300-webfont.otf')  format('opentype'),
  url('../fonts/museosans_300_macroman/MuseoSans_300-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Museo Sans 300 Italic';
  src:  url('../fonts/museosans_300italic_macroman/MuseoSans_300_Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans_300italic_macroman/MuseoSans_300_Italic-webfont.woff') format('woff'),
  url('../fonts/museosans_300italic_macroman/MuseoSans_300_Italic-webfont.ttf')  format('truetype'),
  url('../fonts/museosans_300italic_macroman/MuseoSans_300_Italic-webfont.otf')  format('opentype'),
  url('../fonts/museosans_300italic_macroman/MuseoSans_300_Italic-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Museo Sans 500';
  src:  url('../fonts/museosans_500_macroman/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans_500_macroman/MuseoSans_500-webfont.woff') format('woff'),
  url('../fonts/museosans_500_macroman/MuseoSans_500-webfont.ttf')  format('truetype'),
  url('../fonts/museosans_500_macroman/MuseoSans_500-webfont.otf')  format('opentype'),
  url('../fonts/museosans_500_macroman/MuseoSans_500-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Museo Sans 500 Italic';
  src:  url('../fonts/museosans_500italic_macroman/MuseoSans_500_Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans_500italic_macroman/MuseoSans_500_Italic-webfont.woff') format('woff'),
  url('../fonts/museosans_500italic_macroman/MuseoSans_500_Italic-webfont.ttf')  format('truetype'),
  url('../fonts/museosans_500italic_macroman/MuseoSans_500_Italic-webfont.otf')  format('opentype'),
  url('../fonts/museosans_500italic_macroman/MuseoSans_500_Italic-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Museo Sans 700';
  src:  url('../fonts/museosans_700_macroman/MuseoSans_700-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans_700_macroman/MuseoSans_700-webfont.woff') format('woff'),
  url('../fonts/museosans_700_macroman/MuseoSans_700-webfont.ttf')  format('truetype'),
  url('../fonts/museosans_700_macroman/MuseoSans_700-webfont.otf')  format('opentype'),
  url('../fonts/museosans_700_macroman/MuseoSans_700-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Museo Sans 700 Italic';
  src:  url('../fonts/museosans_700italic_macroman/MuseoSans_700_Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans_700italic_macroman/MuseoSans_700_Italic-webfont.woff') format('woff'),
  url('../fonts/museosans_700italic_macroman/MuseoSans_700_Italic-webfont.ttf')  format('truetype'),
  url('../fonts/museosans_700italic_macroman/MuseoSans_700_Italic-webfont.otf')  format('opentype'),
  url('../fonts/museosans_700italic_macroman/MuseoSans_700_Italic-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Museo Sans 900';
  src:  url('../fonts/museosans_900_macroman/MuseoSans_900-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans_900_macroman/MuseoSans_900-webfont.woff') format('woff'),
  url('../fonts/museosans_900_macroman/MuseoSans_900-webfont.ttf')  format('truetype'),
  url('../fonts/museosans_900_macroman/MuseoSans_900-webfont.otf')  format('opentype'),
  url('../fonts/museosans_900_macroman/MuseoSans_900-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Museo Sans 900 Italic';
  src:  url('../fonts/museosans_900italic_macroman/MuseoSans-900_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museosans_900italic_macroman/MuseoSans-900_Italic-webfont.woff') format('woff'),
  url('../fonts/museosans_900italic_macroman/MuseoSans-900_Italic-webfont.ttf')  format('truetype'),
  url('../fonts/museosans_900italic_macroman/MuseoSans-900_Italic-webfont.otf')  format('opentype'),
  url('../fonts/museosans_900italic_macroman/MuseoSans-900_Italic-webfont.svg#svgFontName') format('svg');
}


body {
  margin: 0;
}

a {
  background: transparent;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Museo Sans 300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color:#111111;
  background-color: #f2f2f2;
}

img {
  border: 0;
  vertical-align: middle;
}

form{
    margin:0 !important;
    padding:0 !important;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.img-circle {
  border-radius: 50%;
}

h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.list-inline > li:first-child {
  padding-left: 0;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  clear:both;
  overflow:hidden;
}

.form-control-36 {
  height:36px;
}

.form-control:focus {
  border-color: #111111;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #FDFDFD;
}

textarea.form-control {
  height: auto;
}

.radio,
.checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}

.relative-position {
  position: relative;
}

